table { border: none; border-collapse: collapse; }
table td { border-left: 1px solid #000; }
table td:first-child { border-left: none; }


body {
    padding-bottom: 15em;
    font-size: 120%
}

.ol_refs>li
{
    margin-bottom : 15px;
}

a
{
    color: rgb(255, 111, 32);
}

.alink
{
    text-decoration: none;
    color: rgb(255, 111, 32);
}
